{# Exemple de macro

Les macros doivent êtres importées dans le template via :

~~~
{% import "_macros/forms.twig" as forms %}
~~~

Utilisation :

~~~
<p>{{ forms.input('username') }}</p>
<p>{{ forms.test() }}</p>
~~~

#}
{% macro input(name, value, type, size) %}
    <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" />
{% endmacro %}

{# {% macro test() %}
	{{_context|dump }}
{% endmacro %} #}
