<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "_partials/commons/head.twig" %}
  </head>
  <body>
    {% include "_partials/commons/nav.twig" %}
    <div class="container">
      <div class="row">
          <aside class="col-md-3">
            {% block aside %}{% endblock %}
          </aside>
          <div class="col-md-9">
            {% block content %}{% endblock %}
          </div>
      </div>
    </div> <!-- /container -->

    <footer>
      <div class="container">
        {% include "_partials/commons/footer.twig" %}
      </div>
    </footer>
    
    {{ assets.js|raw }}
  </body>
</html>
