<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "_partials/commons/head.twig" %}
  </head>
  <body>
    {# Primary Nav #}
    {% include "_partials/commons/nav.twig" %}
    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <footer>
      <div class="container">
        {% include "_partials/commons/footer.twig" %}
      </div>
    </footer>

    {{ assets.js|raw }}


  </body>
</html>
