{# {% set datas = test(namespace = "footer_nav", file = 'nav_footer') %} #}
<p>
    <ul class="list-inline">
        <li>© {{ app.title }}</li>
        <li>{{ app.author }}</li>
        {% for data in datas.nav_footer %}
                <li><a href="{{data.route}}">{{ data.title }}</a></li>
        {% endfor %}
     </ul>
</p>
