<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{# <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags --> #}
<title>{{meta.title}} - {{app.title}}</title>

{% if meta.description %}
<meta name="description" content="{{meta.description}}">
{% else %}
  <meta name="description" content="{{app.description}}">
{% endif %}
{% if meta.robots %}
<meta name="robots" content="{{meta.robots}}">
{% endif %}
{{ assets.css|raw }}


{# <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// --> #}
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
