{% extends "@frontdoc/_layouts/layout.twig" %}

{% block aside %}
{% for item in nav %}
<ul>
    <li>
        <a href="/section/{{item.reference}}">{{ item.title}}</a>
        {% if item.childs %}
        <ul>
        {% for child in item.childs %}
            <li><a href="{{item.reference}}#r{{child.reference}}">{{child.title}}</a>
            </li>
        {% endfor %}
        </ul>
        {% endif %}
    </li>
</ul>
{% endfor %}
{% endblock %}

{% block content %}

{% if content.section %}
    {% if content.section %}
    <header class="main-section">
        <h1>{{content.section.title}}</h1>
        {{content.section.description|Markdown }}

    </header>


    {% endif %}

    {% for section in content.section.sub_sections %}
        {% include "@frontdoc/_partials/docblock.twig" %}
    {% endfor %}
{% else %}
    {{ content|Markdown }}
{% endif %}


{% endblock %}
