{% extends "_layouts/layout.twig" %}

{% block aside %}
    {{ pages_nav() }}
{% endblock %}

{% block content %}

    {{ content|raw }}

      <h2>Pages Nav </h2>
      {{ pages_nav() }}

    <h2>Pages List</h2>
    {% if pages %}
      <ul>
      {% for page in pages %}
        <li>{%if not page.active %}
              <a href="{{base_url}}/{{ page.url }}">{{page.title}}</a>
            {% else %}
              <span class="active">{{page.title}}</span>
            {% endif%}<br>
            <p>{{ page.excerpt }}</p>
        </li>
      {% endfor %}
      </ul>
    {% endif %}


    <h2>Blog Posts</h2>
    {% if posts %}
      <ul>
      {% for post in posts %}
        <li>{%if not post.active %}
              <a href="{{base_url}}/{{ post.url }}">{{post.title}}</a>
            {% else %}
              <span class="active">{{post.title}}</span>
            {% endif%}<br>
            <p>{{ ppost.excerpt }}</p>
        </li>
      {% endfor %}
      </ul>
    {% endif %}



{% endblock %}
