{% extends "_layouts/layout.twig" %}

{% block aside %}
{{ pages_nav() }}
{% endblock %}

{# Content block #}
{% block content %}

    <h1>{{ meta.title }}</h1>
    
    {{ meta.description }}

	{{ content|raw }}

{% endblock %}
