{# Blog post layout


#}
{% extends "_layouts/default.twig" %}

{% block content %}

    <h1>{{ meta.title }}</h1>
    
    {{ meta.description }}
    
    <p>{{ published }}</p>
    
	{{ content|raw }}

{% endblock %}