<html>
<head>

    {# Frontdoc styles Asset.css #}
    {% for css in project.kss.assets.css %}
        <link rel="stylesheet" href="{{ css|raw }}">
    {% endfor %}
    {% for js in project.kss.assets.js %}
        <script src="{{js|raw}}" charset="utf-8"></script>
    {% endfor %}

    {{ preview.css|raw }}
    {{ preview.js|raw }}
    {# Assets.js #}
</head>
<body class="preview-body">
    <div class="preview-wrapper">
        <div class="styleguide__elements fixie">

                    <div class="styleguide__element">
                        {{section.markup|raw }}
                    </div>
                    {% if section.modifiers %}
                        <div class="styleguide__element styleguide__element--modifier {% if isExtender %}styleguide__element--extender{% endif %}">
                            <span class="styleguide__element__modifier-label {% if isExtender %}styleguide__element__modifier-label--extender{% endif %}">{{section.name}}</span>
                            {{section.exampleHtml|raw}}
                        </div>
                    {% endif%}
                </div>
                <script type="text/javascript">
                    $(document).ready(function(){
                        {{ section.javascript|raw }}
                    });
                </script>
    </div>

<script>
fixie.setImagePlaceholder('http://www.lorempixel.com/g/${w}/${h}/sports').init();
</script>
</html>
