$colors: (
  marine: #fff
);

$base-line-height: 1.5;

$var1: value !default;
$var2: value;

$list: (1,2,3);

$map:(
	'key': value
);

$map:(
  'key': value
);

$emptymap:(


);

$base-line-height: 1.5;
