{% extends "_layouts/layout.twig" %}

{# Aside Block :
Use Bootstrap Affix Plugin <http://getbootstrap.com/javascript/#affix>
#}
{% block aside %}
<nav class="nav-segondary hidden-print hidden-xs hidden-sm" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
	{{ pages_nav() }}
</nav>
{% endblock %}

{% block content %}
    <h1>{{meta.title}}</h1>
    {% if error %}
        <p class="alert alert-danger">{{error}}</p>
    {% endif %}

    {{ content|raw }}
{% endblock %}
