{% extends "_layouts/2cols.twig" %}

{% block content %}

        {{ content|raw }}

{% endblock %}

{% block aside %}

      <h2>Pages Nav </h2>
      {{ pages_nav() }}

    <h2>Pages List</h2>
    {% if pages %}
      <ul>
      {% for page in pages %}
        <li>{%if not page.active %}
              <a href="{{base_url}}/{{ page.url }}">{{page.title}} {{page.published}}</a>
            {% else %}
              <span class="active">{{page.title}}</span>
            {% endif%}<br>
            <p>{{ page.excerpt|raw }}</p>
        </li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if posts %}
        <h2>Blog Posts</h2>
        <ul>
        {% for post in posts %}
        <li>{%if not post.active %}
              <a href="{{base_url}}/{{ post.url }}">{{post.title}}</a>
            {% else %}
              <span class="active">{{post.title}}</span>
            {% endif%}<br>
            <p>{{ post.excerpt }}</p>
        </li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
