@charset "UTF-8";
/* # Preview frame styles


Styleguide styleguide.preview-frame-styles
*/
/* # Icons

Accessibility issues :
Excellent article de Zach Leatherman sur l'accessibilité et les bonne manière d'intégrer
des icones.
<https://www.filamentgroup.com/lab/bulletproof_icon_fonts.html>

Un tweet sur quelques tips de rendu des icones fonts, dont le premier est :
n'utilisez pas d'icones fonts
https://twitter.com/zachleat/status/951480350080950273


Performance issues:
<http://calendar.perfplanet.com/2016/no-font-face-bulletproof-syntax/>

Une version du markup amelioree, et accessible
<https://css-tricks.com/html-for-icon-font-usage/>

Automatiser la preparation des formats a servir aux differents peripheriques
<https://www.filamentgroup.com/lab/grunticon.html>

https://css-tricks.com/svg-sprites-use-better-icon-fonts/

IconMoon
<https://icomoon.io/#docs>

Markup:
<p><span class="icon-tag" aria-hidden="true"></span></p>

@see - Creer <http://fontello.com/>
@see - Automatiser <https://www.npmjs.com/package/gulp-fontello>
@see - Utilitaire <http://getthemap.mister-graphx.com/>
$icon-family-name {string} (icons !default)
$icon-prefix {string} (icon !default)
$icon-set {map} (name:hex code) -
$file-format -
@use Bourbon/font-face


Styleguide addons.uikit.icons
*/
@font-face {
  font-family: styleguide-icons;
  src: url("../fonts/icons/font/styleguide-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/font/styleguide-icons.woff2") format("woff2"), url("../fonts/icons/font/styleguide-icons.woff") format("woff"), url("../fonts/icons/font/styleguide-icons.ttf") format("truetype"), url("../fonts/icons/font/styleguide-icons.svg#styleguide-icons") format("svg"); }

[class^="icn-"]:before,
[class*="icn-"]:before {
  font-family: "styleguide-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 0em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* # @mixin icon-set-init()


@param - $icon-set {map} (null !)
Styleguide addons.icons.mixins
*/
.icn-firefox:before {
  content: ""; }

.icn-chrome:before {
  content: ""; }

.icn-menu:before {
  content: ""; }

.icn-up-circled:before {
  content: ""; }

.icn-opera:before {
  content: ""; }

.icn-ie:before {
  content: ""; }

.icn-resize-horizontal:before {
  content: ""; }

.icn-desktop:before {
  content: ""; }

.icn-laptop:before {
  content: ""; }

.icn-tablet:before {
  content: ""; }

.icn-mobile:before {
  content: ""; }

.icn-resize-full:before {
  content: ""; }

.icn-resize-full-alt:before {
  content: ""; }

.icn-extender:before {
  content: ""; }

.icn-external:before {
  content: ""; }

.styleguide__element {
  position: relative;
  /*padding: 20px;*/
  min-height: 200px; }

.styleguide__element + .styleguide__element {
  margin-top: -5px;
  padding-top: 15px;
  border-top: 1px solid #eee; }

.styleguide__element__modifier-label {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 8px;
  font-size: 11px;
  color: #999;
  background: #f9f9f9;
  border: 1px solid #eee;
  border-top: none; }

.styleguide__element__modifier-label--extender:after {
  content: "";
  font-family: styleguide-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-left: 5px; }

/*# sourceMappingURL=preview.css.map */
