@charset "UTF-8";
/* # Front Documentor



Styleguide frontdoc
*/
/*! Fragments

V4.0.0

Author: Arnaud Bérard - Mist. Graphx

Repository: https://gitlab.com/mister-graphx/fragments/framework
Issues: https://gitlab.com/mister-graphx/fragments/framework/issues

License: MIT
*/
/* Top Utilitie Nav */
#styleGuideTools {
  padding: 5px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  font-size: 16px;
  text-align: left;
  color: #666;
  background: #f1f1f1;
  border-bottom: 1px solid #ddd; }
  #styleGuideTools .brand {
    display: block;
    float: left;
    margin-right: 10px; }
    #styleGuideTools .brand a {
      color: #666;
      text-decoration: none;
      font-weight: bold; }
      #styleGuideTools .brand a:hover {
        border-bottom: 6px solid black; }
  #styleGuideTools #project-switcher {
    float: left; }
  #styleGuideTools ul {
    margin: 0;
    padding: 0; }
    #styleGuideTools ul li {
      display: inline-block; }
      #styleGuideTools ul li a {
        color: #545454; }
        #styleGuideTools ul li a:hover {
          background-color: transparent; }
  #styleGuideTools ul.menu {
    float: left; }
    #styleGuideTools ul.menu > li > a {
      padding: 5px 10px; }
    #styleGuideTools ul.menu .sub-nav {
      position: absolute;
      top: 25px;
      visibility: hidden;
      background-color: white; }
      #styleGuideTools ul.menu .sub-nav li {
        display: list-item;
        list-style-type: none;
        padding: 10px; }
        #styleGuideTools ul.menu .sub-nav li a {
          padding: 5px;
          text-decoration: none; }
    #styleGuideTools ul.menu > li:hover > ul.sub-nav {
      z-index: 100;
      visibility: visible; }
  #styleGuideTools #viewport {
    font-size: .8em;
    font-style: italic;
    display: block;
    text-align: center; }
  #styleGuideTools .responsive-utilities {
    float: right;
    margin-right: 15px; }
  #styleGuideTools i.small {
    font-size: .9em; }
  #styleGuideTools i.landscape:before {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Opera, Chrome, and Safari */ }
  #styleGuideTools span:hover {
    cursor: pointer;
    border-bottom: 3px solid black; }
  #styleGuideTools span.active > i {
    color: red; }
  #styleGuideTools #search-form {
    float: right;
    margin-right: 15px; }
    #styleGuideTools #search-form form {
      margin-bottom: 0; }
    #styleGuideTools #search-form input {
      border-radius: 10px;
      border: 1px solid silver;
      width: 150px;
      padding: 1px 15px; }
    #styleGuideTools #search-form #livesearch {
      width: 160px;
      z-index: 100;
      position: absolute;
      right: 30px;
      background-color: white;
      border: 1px solid silver;
      padding: 5px; }
      #styleGuideTools #search-form #livesearch a {
        text-decoration: none;
        color: silver;
        font-size: .8em; }
      #styleGuideTools #search-form #livesearch div {
        font-size: 0.5em;
        border-top: 1px solid grey; }

/* # Pages

Specials styles for the pages.
In the layout a special class (.page-Object) is added to the body tag to help styling elements differently between pages.

Styleguide App.pages
*/
/** # Frontdoc UI
Styleguide frontdoc.ui */
/** # Styleguide UI - Tabs

Affichage par onglets de contenus

Markup:
<ul class="styleguide-ui-tabs">
    <li class="tab">
      <a href="#" class="tab-link is-active">Tab Item</a>
      <div class="tab-content">
        <p></p>
      </div>
    </li>
    <li class="tab">
      <a href="#" class="tab-link">Another Tab</a>
      <div class="tab-content">
        <p></p>
      </div>
    </li>
    <li class="tab">
      <a href="#" class="tab-link">Third</a>
      <div class="tab-content">
        <p></p>
      </div>
    </li>
    <li class="tab">
      <a href="#" class="tab-link">Last item</a>
      <div class="tab-content">
        <p></p>
      </div>
    </li>
</ul>

Javascript:
$('.styleguide-ui-tabs').each(function(index) {
  $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
});
$('.styleguide-ui-tabs').on('click', 'li > a.tab-link', function(event) {
  if (!$(this).hasClass('is-active')) {
    event.preventDefault();
    var accordionTabs = $(this).closest('.styleguide-ui-tabs');
    accordionTabs.find('.is-open').removeClass('is-open').hide();
    $(this).next().toggleClass('is-open').toggle();
    accordionTabs.find('.is-active').removeClass('is-active');
    $(this).addClass('is-active');
  } else {
    event.preventDefault();
  }
});

@source - Refills tabs
@require - jQuery

Styleguide frontdoc.ui.tabs
*/
.styleguide-ui-tabs {
  line-height: 1.5;
  padding: 0;
  margin: 1.5rem; }
  .styleguide-ui-tabs::after {
    clear: both;
    content: "";
    display: block; }
  .styleguide-ui-tabs .tab {
    list-style: none; }
    @media (min-width: 769px) {
      .styleguide-ui-tabs .tab {
        display: inline; } }
  .styleguide-ui-tabs .tab-link {
    background-color: #fff;
    border-top: 1px solid #ddd;
    color: #333;
    display: block;
    padding: 0.75rem 2.5641%;
    text-decoration: none;
    border-radius: 5px 5px 0 0; }
    @media (min-width: 769px) {
      .styleguide-ui-tabs .tab-link {
        border-top: 0;
        display: inline-block; } }
    .styleguide-ui-tabs .tab-link:hover {
      color: #477dca; }
    .styleguide-ui-tabs .tab-link:focus {
      outline: none; }
    .styleguide-ui-tabs .tab-link.is-active {
      border-bottom: 0; }
      @media (min-width: 769px) {
        .styleguide-ui-tabs .tab-link.is-active {
          border: 1px solid #ddd;
          border-bottom-color: #fff;
          margin-bottom: -1px; } }
  .styleguide-ui-tabs .tab-content {
    display: none;
    padding: 1.5rem 2.5641%;
    width: 100%;
    background-color: #fff; }
    @media (min-width: 769px) {
      .styleguide-ui-tabs .tab-content {
        border-top: 1px solid #ddd;
        float: left; } }

/** # UI Modal

Composant Modal box
http://refills.bourbon.io/components/

Markup:
<label for="modal-1">
  <div class="modal-trigger">Click for Modal</div>
</label>
<div class="modal">
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h1>Modal Title</h1>
      <p class="modal-intro"></p>
      <p class="modal-content"></p>
    </div>
  </div>
</div>

Javascript:
$(function() {
  $("#modal-1").on("change", function() {
    if ($(this).is(":checked")) {
      $("body").addClass("modal-open");
    } else {
      $("body").removeClass("modal-open");
    }
  });
  $(".modal-fade-screen, .modal-close").on("click", function() {
    $(".modal-state:checked").prop("checked", false).change();
  });
  $(".modal-inner").on("click", function(e) {
    e.stopPropagation();
  });
});

Styleguide frontdoc.ui.modal
*/
.modal label {
  cursor: pointer;
  margin-bottom: 0; }

.modal label img {
  border-radius: 150px;
  display: block;
  max-width: 300px; }

.modal .modal-state {
  display: none; }

.modal .modal-trigger {
  padding: 0.8em 1em; }

.modal .modal-fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  padding-top: 0.6em;
  text-align: left;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  visibility: hidden;
  z-index: 99999999999; }
  @media (min-width: 1025px) {
    .modal .modal-fade-screen {
      padding-top: 10em; } }
  .modal .modal-fade-screen .modal-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer; }

.modal .modal-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  height: 1.5em;
  width: 1.5em;
  background: #fff;
  cursor: pointer; }
  .modal .modal-close::after, .modal .modal-close::before {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 0;
    left: 50%;
    height: 1.5em;
    width: 0.15em;
    background: #ddd;
    content: "";
    display: block;
    margin: -3px 0 0 -1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .modal .modal-close:hover::after, .modal .modal-close:hover::before {
    background: #c4c4c4; }
  .modal .modal-close::before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.modal .modal-inner {
  background: #fff;
  border-radius: 3px;
  margin: auto;
  margin-top: 0;
  max-height: 95%;
  overflow: auto;
  padding: 1.5em;
  position: relative;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  width: 95%; }
  @media (min-width: 769px) {
    .modal .modal-inner {
      max-height: 70%;
      padding: 3em;
      width: 60%; } }
  @media (min-width: 1025px) {
    .modal .modal-inner {
      width: 50%; } }
  .modal .modal-inner h1 {
    color: #333;
    text-align: left;
    text-transform: capitalize; }
  .modal .modal-inner p {
    color: #333;
    line-height: 1.5em; }
  .modal .modal-inner .modal-intro {
    margin-bottom: 1em; }
  .modal .modal-inner .modal-content {
    color: #333; }
    @media (min-width: 769px) {
      .modal .modal-inner .modal-content {
        -webkit-columns: 2 8em;
        columns: 2 8em; } }
  .modal .modal-inner a.cta {
    color: #fff;
    display: inline-block;
    margin-right: 0.5em;
    margin-top: 1em; }
    .modal .modal-inner a.cta:last-child {
      padding: 0 2em; }

.modal .modal-state:checked + .modal-fade-screen {
  opacity: 1;
  visibility: visible; }

.modal .modal-state:checked + .modal-fade-screen .modal-inner {
  top: 0.5em; }

.modal-open {
  overflow: hidden; }

/* # Icons

Accessibility issues :
Excellent article de Zach Leatherman sur l'accessibilité et les bonne manière d'intégrer
des icones.
<https://www.filamentgroup.com/lab/bulletproof_icon_fonts.html>

Un tweet sur quelques tips de rendu des icones fonts, dont le premier est :
n'utilisez pas d'icones fonts
https://twitter.com/zachleat/status/951480350080950273


Performance issues:
<http://calendar.perfplanet.com/2016/no-font-face-bulletproof-syntax/>

Une version du markup amelioree, et accessible
<https://css-tricks.com/html-for-icon-font-usage/>

Automatiser la preparation des formats a servir aux differents peripheriques
<https://www.filamentgroup.com/lab/grunticon.html>

https://css-tricks.com/svg-sprites-use-better-icon-fonts/

IconMoon
<https://icomoon.io/#docs>

Markup:
<p><span class="icon-tag" aria-hidden="true"></span></p>

@see - Creer <http://fontello.com/>
@see - Automatiser <https://www.npmjs.com/package/gulp-fontello>
@see - Utilitaire <http://getthemap.mister-graphx.com/>
$icon-family-name {string} (icons !default)
$icon-prefix {string} (icon !default)
$icon-set {map} (name:hex code) -
$file-format -
@use Bourbon/font-face


Styleguide addons.uikit.icons
*/
@font-face {
  font-family: styleguide-icons;
  src: url("../fonts/icons/font/styleguide-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/font/styleguide-icons.woff2") format("woff2"), url("../fonts/icons/font/styleguide-icons.woff") format("woff"), url("../fonts/icons/font/styleguide-icons.ttf") format("truetype"), url("../fonts/icons/font/styleguide-icons.svg#styleguide-icons") format("svg"); }

[class^="icn-"]:before,
[class*="icn-"]:before {
  font-family: "styleguide-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 0em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* # @mixin icon-set-init()


@param - $icon-set {map} (null !)
Styleguide addons.icons.mixins
*/
.icn-firefox:before {
  content: ""; }

.icn-chrome:before {
  content: ""; }

.icn-menu:before {
  content: ""; }

.icn-up-circled:before {
  content: ""; }

.icn-opera:before {
  content: ""; }

.icn-ie:before {
  content: ""; }

.icn-resize-horizontal:before {
  content: ""; }

.icn-desktop:before {
  content: ""; }

.icn-laptop:before {
  content: ""; }

.icn-tablet:before {
  content: ""; }

.icn-mobile:before {
  content: ""; }

.icn-resize-full:before {
  content: ""; }

.icn-resize-full-alt:before {
  content: ""; }

.icn-extender:before {
  content: ""; }

.icn-external:before {
  content: ""; }

/* # Kss Styles

Styles des présentations de stylesguides

Styleguide frontdoc.components.kss-styles
*/
/* # Documentation Blocks


Markup:
<div id="rcomponents.typography.font-smoothing" class="styleguide">
        <h3 class="styleguide__header">
            <span class="styleguide__reference">components.typography.font-smoothing</span>
            <span class="styleguide__title">font-smoothing</span>
            <span class="styleguide__filename">components.css - <a href="components.css">Voir</a></span>
        </h3>
        <div class="styleguide__description">
            <h2>font-smoothing</h2>
            <p><a href="https://github.com/css-recipes/font-smoothing">https://github.com/css-recipes/font-smoothing</a>
This recipe only works for OS X since Windows has a different font rendering method.**</p>
<p>Others sources:
<a href="http://maximilianhoffmann.com/posts/better-font-rendering-on-osx">http://maximilianhoffmann.com/posts/better-font-rendering-on-osx</a>
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth">https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth</a>
<a href="http://www.w3.org/TR/WD-font/#font-smooth">http://www.w3.org/TR/WD-font/#font-smooth</a></p>
<p>Usage :
Use $value to enable or disable font smoothing.</p>
<p>Mixin usage :</p>
<pre><code class=" hljs css"><span class="hljs-at_rule">@<span class="hljs-keyword">include</span> <span class="hljs-function">crp-FontSmoothing</span>($value)</span>;</code></pre>
<p>Placehoder :</p>
<pre><code class=" hljs scss"><span class="hljs-at_rule">@<span class="hljs-keyword">extend</span> %crp-FontSmoothing--on | %crp-FontSmoothing ;</span> <span class="hljs-comment">// enabled</span>
<span class="hljs-at_rule">@<span class="hljs-keyword">extend</span> %crp-FontSmoothing--off;</span> <span class="hljs-comment">// disabled</span></code></pre>
            <table class="styleguide__parameters">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                <tr>
                    <td class="styleguide__parameter-name">
                    @param
                    </td>
                    <td class="styleguide__parameter-description">
                    <p>{true | on | antialiased | grayscale } to enable.</p>
                    </td>
                </tr><tr>
                    <td class="styleguide__parameter-name">
                    @param
                    </td>
                    <td class="styleguide__parameter-description">
                    <p>{false | off | subpixel-antialiased | auto } to disable.</p>
                    </td>
                    </tr></tbody>
            </table>
            <p class="docblock__compatibility">
                <span class="docblock__compatibility--title">Compatibility :</span>
                <span class="docblock__compatibility--content">
                Safari 4+, Firefox 25+ - !Attention  font-smooth is not in spec
Problems in Chrome with webFonts
                </span>
            </p>
    </div>
</div>

Styleguide KssPhp.docblock
*/
/* # Compatibility


Styleguide KssPhp.docblock.compatibility
*/
.docblock__compatibility--title {
  font-weight: bold; }

/* # Modifiers & extenders

Description

:hover	- Modifier definition goes here
.base-class - Basic stylings for this element
.extender-class @extend .base-class - This class extend the first one

Markup:
<ul class="styleguide__modifiers">
    <li>
        <span class="styleguide__modifier-name ">
            .full-width
            <span class="styleguide__modifier-extender">( @extend: .alert )</span>
        </span>
        <span class="styleguide__modifier-description">
            <p>Set max with 100%</p>
        </span>
    </li>
</ul>

Styleguide KssPhp.docblock.modifiers
*/
.styleguide__modifiers {
  margin: 0 0 1.5em 0;
  padding: 0; }
  .styleguide__modifiers li {
    list-style-type: none;
    margin-left: 0;
    line-height: 2em; }
  .styleguide__modifiers span {
    display: inline-block;
    padding: 0 .5em; }

.styleguide__modifier-name {
  font-weight: bold;
  width: 40%; }

.styleguide__modifier-extender {
  font-size: .8em;
  color: gray;
  font-weight: normal;
  font-style: italic; }

.styleguide__modifier-description {
  width: 40%; }

/* # Kss Helpers

Description

.center	- Modifier definition goes here
.border - 

Markup:
<span class="border">
    <span class="color" style="background-color: #545400;"></span>
    <span class="colorname">
        <strong>Marpat stole Cadpat</strong><br />
        RGB: 84, 84, 0<br />
        Hex: 545400
    </span>
</span>

Styleguide kss-helpers
*/
.border {
  border: 1px solid #cccccc;
  float: left;
  margin: 5px;
  padding: 1px; }

.center {
  text-align: center; }

/* # Colors Helpers

Source html generated palette css from ColorLover

Markup:
<span class="border">
    <span class="color" style="background-color: #545400;"></span>
    <span class="colorname">
        <strong>Marpat stole Cadpat</strong><br />
        RGB: 84, 84, 0<br />
        Hex: 545400
    </span>
</span>

Styleguide kss-helpers.colors
*/
.color {
  display: block;
  height: 130px;
  width: 130px; }

.colorcontainer {
  margin: 0 auto; }

.colorname {
  display: block;
  text-align: center;
  padding: 5px 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #E6E4E4; }

code {
  color: #597eb8;
  font-family: monospace;
  font-size: 1.3em; }

.lazyload {
  opacity: 0; }

.lazyloading {
  opacity: 1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  background: #f7f7f7 url("../images/ajax-loader.gif") no-repeat center; }

.style_guide .st-page {
  /*width:960px;*/
  margin: 36px auto 0 auto; }
  .style_guide .st-page > header.st-header {
    padding: 10px;
    font-size: 16px;
    color: #666;
    background: #f1f1f1;
    border-bottom: 1px solid #ddd;
    text-align: left; }

.style_guide nav.st-nav {
  background-color: #323234;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  padding-top: 45px;
  padding-bottom: 25px;
  margin: 0;
  height: auto;
  width: 20%; }
  .style_guide nav.st-nav > ul {
    margin-left: 10px;
    padding-left: 0; }
  .style_guide nav.st-nav li {
    list-style-type: none;
    margin: 10px 0; }
    .style_guide nav.st-nav li a {
      text-decoration: none;
      color: #cacaca;
      display: block;
      border-bottom: 1px solid #484848; }
      .style_guide nav.st-nav li a:hover {
        background-color: transparent; }
    .style_guide nav.st-nav li > ul {
      padding-left: 0;
      margin-left: 0; }
      .style_guide nav.st-nav li > ul li {
        font-size: 0.8em;
        margin: 0;
        padding: 0 0 0 5px; }
        .style_guide nav.st-nav li > ul li a {
          border-bottom: transparent;
          padding: 5px 0; }

.style_guide #st-content {
  margin-left: 24%;
  margin-right: 5%;
  padding-top: 1em;
  position: relative;
  z-index: 0;
  text-align: left;
  /*
        * # StyleGuide
        *
        * Bloc de documentation
        *
        * Markup:
        *
<div id="r2.1" class="styleguide">
    <h3 class="styleguide__header">
        <span class="styleguide__reference">2.1</span>
        <span class="styleguide__title">Entete et barre de navigation</span>
        <span class="styleguide__filename">
            layout.css - <a href="../squelettes-dist/css/layout.css">Voir</a>
        </span>
    </h3>
    <div class="styleguide__description">
        <p></p>
    </div>
    <div class="styleguide__elements">
        <div class="styleguide__element">
        </div>
    </div>
    <div class="styleguide__html">
        <pre class="prettyprint linenums:1 prettyprinted" style=""><ol class="linenums"><li value="1" class="L0"><span class="pln">            </span><code class="lang-html"></code></li><li class="L1"><span class="pln">        </span></li></ol></pre>
    </div>
</div>
        *
        * */
  /* Code blocks html,js

        Markup:
        <preclass="styleguide__code"><code class="code"><code></pre>

        Styleguide kss.codeblocks */
  /*
         * # Parameters list in the block description


        */
  /* # Tables v1.0
    

Simple table styling by Chris Ferdinandi.
<http://gomakethings.com>

Adapted from Twitter Bootstrap.
<http://twitter.github.com/bootstrap/>

Licensed under the Apache License v2.0
http://www.apache.org/licenses/LICENSE-2.0

.table-stripped - Stripped
.table-bordered - A bordered table 
.table-bordered .table-stripped - Combine and extend
.table-bordered .table-hover - Add an Hover effect


Markup:
<table class="table $modifierClass">
    <caption></caption>
    <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
</table>


%table              - {placeholder}
%table-bordered     - {placeholder}
%table-striped      - {placeholder}
%table-hover        - {placeholder}


Styleguide tables.tables-Bootstrap2
*/
  /* =============================================================
    TABLES
    Table styling.
 * ============================================================= */
  /*  Removes default browser settings
 *  and evens out inconsistencies. */
  /*  Sets table width to 100%.
 *  Adds bottom-margin. */
  /*  Adds table cell padding,
 *  aligns text to the left,
 *  and adds a top border to each cell. */
  /*  Sets table header font-weight to bold.
 *  Aligns table header text to the bottom of each cell. */
  /*  Aligns cell text to the top of each cell. */
  /*  Removes the border-top from the first row. */
  /*  Adds border-top between two table-body sections. */
  /*  Reduces cell padding */
  /* # table stripped



*/
  /* # table Bordered

Adds borders and border-radius.

*/
  /* # Modifiers list in the block description

        @see - ` _docblock `
        */
  /* # Modifiers info in the preview frame

            Added in Preview css
        */
  /* Code preview bloc */ }
  .style_guide #st-content > h1 {
    margin-top: 0; }
  .style_guide #st-content .styleguide {
    margin: 15px auto;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
  .style_guide #st-content .styleguide__header {
    margin: 0;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    background: #333;
    border-top: 1px solid #000; }
    .style_guide #st-content .styleguide__header a {
      color: white; }
      .style_guide #st-content .styleguide__header a:hover {
        background-color: transparent; }
  .style_guide #st-content .styleguide__filename {
    float: right;
    text-transform: none;
    font-style: normal;
    font-weight: normal;
    color: #999; }
  .style_guide #st-content .styleguide__description {
    padding: 10px 1em;
    background: #f1f1f1;
    border-bottom: 1px solid #ddd; }
    .style_guide #st-content .styleguide__description p:first-child {
      margin-top: 0; }
    .style_guide #st-content .styleguide__description p:last-child {
      margin-bottom: 0; }
  .style_guide #st-content .styleguide__code {
    margin: 0;
    padding: 0; }
    .style_guide #st-content .styleguide__code .code > div {
      padding: 1rem 0; }
  .style_guide #st-content table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0; }
  .style_guide #st-content .table,
  .style_guide #st-content table.styleguide__parameters {
    width: 100%;
    margin-bottom: 1.52941em; }
  .style_guide #st-content .table th,
  .style_guide #st-content table.styleguide__parameters th,
  .style_guide #st-content .table td,
  .style_guide #st-content table.styleguide__parameters td {
    padding: 0.47059em;
    text-align: left;
    border-top: 0.07143em solid #b8b8b8; }
  .style_guide #st-content .table th,
  .style_guide #st-content table.styleguide__parameters th {
    font-weight: bold;
    vertical-align: bottom; }
  .style_guide #st-content .table td,
  .style_guide #st-content table.styleguide__parameters td {
    vertical-align: top; }
  .style_guide #st-content .table thead:first-child tr th,
  .style_guide #st-content table.styleguide__parameters thead:first-child tr th,
  .style_guide #st-content .table thead:first-child tr td,
  .style_guide #st-content table.styleguide__parameters thead:first-child tr td {
    border-top: 0; }
  .style_guide #st-content .table tbody + tbody,
  .style_guide #st-content table.styleguide__parameters tbody + tbody {
    border-top: 0.14286em solid #b8b8b8; }
  .style_guide #st-content .table-condensed th,
  .style_guide #st-content .table-condensed td {
    padding: 0.29412em; }
  .style_guide #st-content .table-stripped th, .style_guide #st-content .table-stripped td,
  .style_guide #st-content table.styleguide__parameters th,
  .style_guide #st-content table.styleguide__parameters td {
    padding: 0.25rem;
    text-align: left;
    /*border: 1px solid #ccc;*/ }
  .style_guide #st-content .table-stripped tbody tr:nth-child(odd),
  .style_guide #st-content table.styleguide__parameters tbody tr:nth-child(odd) {
    background: #eee; }
  .style_guide #st-content .table-bordered,
  .style_guide #st-content table.styleguide__parameters {
    border: 0.07143em solid #b8b8b8;
    border-collapse: separate;
    *border-collapse: collapsed;
    border-radius: 0.47059em; }
    .style_guide #st-content .table-bordered > caption + thead > tr:first-child > th,
    .style_guide #st-content .table-bordered > caption + thead > tr:first-child > td,
    .style_guide #st-content .table-bordered > colgroup + thead > tr:first-child > th,
    .style_guide #st-content .table-bordered > colgroup + thead > tr:first-child > td,
    .style_guide #st-content .table-bordered > thead:first-child > tr:first-child > th,
    .style_guide #st-content .table-bordered > thead:first-child > tr:first-child > td,
    .style_guide #st-content table.styleguide__parameters > caption + thead > tr:first-child > th,
    .style_guide #st-content table.styleguide__parameters > caption + thead > tr:first-child > td,
    .style_guide #st-content table.styleguide__parameters > colgroup + thead > tr:first-child > th,
    .style_guide #st-content table.styleguide__parameters > colgroup + thead > tr:first-child > td,
    .style_guide #st-content table.styleguide__parameters > thead:first-child > tr:first-child > th,
    .style_guide #st-content table.styleguide__parameters > thead:first-child > tr:first-child > td {
      border-top: 0; }
  .style_guide #st-content .table-bordered th + th,
  .style_guide #st-content table.styleguide__parameters th + th,
  .style_guide #st-content .table-bordered td + td,
  .style_guide #st-content table.styleguide__parameters td + td,
  .style_guide #st-content .table-bordered th + td,
  .style_guide #st-content table.styleguide__parameters th + td,
  .style_guide #st-content .table-bordered td + th,
  .style_guide #st-content table.styleguide__parameters td + th {
    border-left: 0.07143em solid #b8b8b8; }
  .style_guide #st-content .table-bordered thead:first-child tr:first-child th,
  .style_guide #st-content table.styleguide__parameters thead:first-child tr:first-child th,
  .style_guide #st-content .table-bordered tbody:first-child tr:first-child th,
  .style_guide #st-content table.styleguide__parameters tbody:first-child tr:first-child th,
  .style_guide #st-content .table-bordered tbody:first-child tr:first-child td,
  .style_guide #st-content table.styleguide__parameters tbody:first-child tr:first-child td {
    border-top: 0; }
  .style_guide #st-content .table-bordered thead:first-child tr:first-child th:first-child,
  .style_guide #st-content table.styleguide__parameters thead:first-child tr:first-child th:first-child,
  .style_guide #st-content .table-bordered tbody:first-child tr:first-child td:first-child,
  .style_guide #st-content table.styleguide__parameters tbody:first-child tr:first-child td:first-child {
    border-radius: 0.47059em 0 0 0; }
  .style_guide #st-content .table-bordered thead:first-child tr:first-child th:last-child,
  .style_guide #st-content table.styleguide__parameters thead:first-child tr:first-child th:last-child,
  .style_guide #st-content .table-bordered tbody:first-child tr:first-child td:last-child,
  .style_guide #st-content table.styleguide__parameters tbody:first-child tr:first-child td:last-child {
    border-radius: 0 0.47059em 0 0; }
  .style_guide #st-content .table-bordered thead:last-child tr:last-child th:first-child,
  .style_guide #st-content table.styleguide__parameters thead:last-child tr:last-child th:first-child,
  .style_guide #st-content .table-bordered tbody:last-child tr:last-child td:first-child,
  .style_guide #st-content table.styleguide__parameters tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 0.47059em; }
  .style_guide #st-content .table-bordered thead:last-child tr:last-child th:last-child,
  .style_guide #st-content table.styleguide__parameters thead:last-child tr:last-child th:last-child,
  .style_guide #st-content .table-bordered tbody:last-child tr:last-child td:last-child,
  .style_guide #st-content table.styleguide__parameters tbody:last-child tr:last-child td:last-child {
    border-radius: 0 0 0.47059em 0; }
  .style_guide #st-content .table-hover > tbody > tr:hover > td,
  .style_guide #st-content .table-hover > tbody > tr:hover > th {
    background-color: #a0a0a0; }
  .style_guide #st-content table.styleguide__parameters {
    background: white;
    border: 1px solid silver;
    border-radius: 0; }
    .style_guide #st-content table.styleguide__parameters th {
      background: white;
      color: #333;
      font-weight: bold; }
    .style_guide #st-content table.styleguide__parameters td, .style_guide #st-content table.styleguide__parameters th {
      padding: 6px;
      text-align: left; }
  .style_guide #st-content .styleguide__parameter-name {
    width: 40%; }
  .style_guide #st-content .styleguide__element {
    position: relative;
    padding: 20px;
    overflow: auto; }
  .style_guide #st-content .styleguide__element + .styleguide__element {
    margin-top: -5px;
    padding-top: 15px;
    border-top: 1px solid #eee; }
  .style_guide #st-content .styleguide__element__modifier-label {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 8px;
    font-size: 11px;
    color: #999;
    background: #f9f9f9;
    border: 1px solid #eee;
    border-top: none; }
  .style_guide #st-content .styleguide__element__modifier-label--extender:after {
    content: url("../images/kss/extender.png");
    vertical-align: middle;
    padding-left: 6px; }
  .style_guide #st-content .styleguide__html {
    font-size: 0.8em;
    overflow: auto;
    clear: both; }
  .style_guide #st-content .preview {
    border: 1px solid silver; }

/*# sourceMappingURL=styleguide.css.map */
