<div class="styleguide" id="r{{section.reference}}">
    <h3 class="styleguide__header">
        <span class="styleguide__reference">{{section.reference}}</span>
        <span class="styleguide__title">{{section.title}}</span>
        <span class="styleguide__filename">{{section.file}} - <a href="{{kss.style_path}}{{section.file}}">Voir</a></span>
    </h3>

    <div class="styleguide__description">
        <h2>{{ section.title }}</h2>

        {{ section.description|Markdown }}

        {% if section.modifiers |length > 0 %}
            <ul class="styleguide__modifiers">

            {% for modifier in section.modifiers %}
                <li>
                    <span class="styleguide__modifier-name {% if modifier.isExtender %}styleguide__modifier-name--extender{% endif %}">
                        {{modifier.name}}
                        {% if modifier.isExtender %}
                        <span class="styleguide__modifier-extender">
                         (@extend: {{ modifier.extendedClass}})
                        </span>
                        {% endif%}
                    </span>

                    <span class="styleguide__modifier-description">
                        {% if modifier.description %}
                            {{ modifier.description|Markdown }}
                        {% endif %}
                    </span>
                </li>
            {% endfor %}

            </ul>
        {% endif %}

        {% if section.parameters | length > 0 %}
        <table class="styleguide__parameters">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                {% for parameter in section.parameters %}
                <tr>
                    <td class="styleguide__parameter-name">
                    {{ parameter.name }}
                    </td>
                    <td class="styleguide__parameter-description">
                    {{ parameter.description|Markdown}}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
        </table>
        {% endif %}


        {% if section.compatibility %}
        <p class="docblock__compatibility">
            <span class="docblock__compatibility--title">Compatibility:</span>
            <span class="docblock__compatibility--content">
            {{ section.compatibility }}
            </span>
        </p>
        {% endif %}

        {% if section.deprecated %}
            {{ section.deprecated }}
        {% endif %}

        {% if section.experimental %}
            {{ section.experimental }}
        {% endif %}

    </div>
    <a href="/preview/{{section.reference}}" target="_blank" title="Open in new tab">
        <span class="icn icn-external"></span>
    </a>
    <ul class="styleguide-ui-tabs">
    {% if section.markup %}
        <li class="tab">
            <a href="#" class="tab-link is-active">Preview</a>
            <div class="tab-content">
            	<iframe class="preview"
                       id="frame-{{ section.reference}}"
                       src="/preview/{{section.reference}}"
                       onLoad="autoResize('frame-{{section.reference}}');"></iframe>
            </div>
        </li>
    {% endif %}
    {% if section.markupNormal %}
    <li class="tab">
      <a href="#" class="tab-link">HTML</a>
      <div class="tab-content">
        	<div class="styleguide__html">
                <pre class="styleguide__code">
                    <code>{{ section.markupNormal|e }}</code>
                </pre>
            </div>
        </div>
      </li>
    {% endif %}
    {% if section.javascriptBlock %}
    <li class="tab">
        <a href="#" class="tab-link">Javascript</a>
        <div class="tab-content">
            <div class="styleguide__html">
                <pre class="styleguide__code">
                    <code>{{ section.javascriptBlock|e }}</code>
                </pre>
            </div>
        </div>
    </li>
    {% endif %}
    </ul>
</div>
