 <div id="styleGuideTools">
    <span class="brand"><a href="{{ app.base_url }}">{{ app.title }}</a></span>

    <select name="projectlist" id="project-switcher" onchange="switchProject()">
        <option value="">Projets</option>
        {% for key,value in projects %}
            <option value="{{key}}" {% if key == project.namespace %}selected{% endif %}>{{value.project.name}}</option>
        {% endfor %}
    </select>

    <ul class="menu">
        <li>
            <a href="/">Documentation</a>
            {% if pages %}
              <ul class="sub-nav">
              {% for page in pages %}
                <li>{%if not page.active %}
                      <a href="{{base_url}}/{{ page.url }}" title="{{page.title}} : {{ page.excerpt|raw }}">{{page.title}}</a>
                    {% else %}
                      <span class="active">{{page.title}}</span>
                    {% endif%}
                </li>
              {% endfor %}
              </ul>
            {% endif %}
        </li>
        <li><a href="/section/">Style Guide</a></li>
    </ul>
    <div id="search-form">
        <form>
            <input type="text" size="30" onkeyup="showResult(this.value)">
            <div id="livesearch"></div>
        </form>
    </div>
    <ul class="responsive-utilities">
        <li><span id="auto-adjust" onclick="resizeTo('iframe.preview','auto','auto',this);" data-title="Auto Adjust"><i class="icn-resize-horizontal small"></i></span></li>
        <li><span id="small-phone" onclick="resizeTo('iframe.preview',240,320,this);" data-title="240 x 320 (small phone)"><i class="icn-mobile small"></i></span></li>
        <li><span id="iphone" onclick="resizeTo('iframe.preview',320,480,this);" data-title="320 x 480 (iPhone)"><i class="icn-mobile"></i></span></li>
        <li><span id="small-tablet" onclick="resizeTo('iframe.preview',480,640,this);" data-title="480 x 640 (small tablet)"><i class="icn-tablet small"></i></span></li>
        <li><span id="ipad-portrait" onclick="resizeTo('iframe.preview',768,1024,this);" data-title="768 x 1024 (iPad - Portrait)"><i class="icn-tablet"></i></span></li>
        <li><span id="ipad=landscape" onclick="resizeTo('iframe.preview',1024,768,this);" data-title="1024 x 768 (iPad - Landscape)"><i class="icn-tablet landscape"></i></span></li>
        <li><span id="laptop" onclick="resizeTo('iframe.preview',1024,768,this);" data-title="??x?? (laptop)"><i class="icn-laptop"></i></span></li>
        <li><span id="desltop" onclick="resizeTo('iframe.preview',1024,768,this);" data-title="??x?? (Desktop)"><i class="icn-desktop"></i></span></li>
    </ul>
</div>
