<!DOCTYPE html>
<html class="style_guide">
    <head>
        {% include "_partials/commons/head.twig" %}
    </head>
    <body class="page-{{ page }}" role="document">

        {% include "@frontdoc/_partials/top_nav.twig" %}

        <div class="st-page">

            <nav role="navigation" class="st-nav">
            {% block aside %}{% endblock %}
            </nav>

            <div id="st-content">
                {% block content %}{% endblock %}
            </div>

        </div>

        {{ assets.js|raw }}
    </body>
</html>
